<div class="d-flex justify-content-end">
  <button class="btn btn-outline-info m-3" routerLink="/customers/add">New Customer <i class="bi bi-plus"></i></button>
</div>
<table class="table table-striped">
  <thead>
  <tr>
    <th scope="col">Identifiant</th>
    <th scope="col">Name</th>
    <th scope="col">Email</th>
    <th scope="col">Actions</th>
  </tr>
  </thead>
  <tbody>
    @if (customersData) {
      @for (customer of customersData; track customer.id) {
        <tr>
          <th scope="row">{{ customer.id }}</th>
          <td>{{ customer.name }}</td>
          <td>{{ customer.email }}</td>
          <td class="d-flex gap-2">
            <button class="btn btn-outline-secondary" [routerLink]="['/customers/edit', customer.id]" ><i class="bi bi-pen"></i></button>
            <button (click)="deleteCustomer(customer.id)" class="btn btn-outline-danger"><i class="bi bi-trash"></i>
            </button>
            <button [routerLink]="['/bankAccounts/customer', customer.id]" class="btn btn-primary">
              Accounts
            </button>
          </td>
        </tr>
      }
    }
  </tbody>
</table>
